.form-button {
  background: rgb(85, 85, 85);
  color: rgb(255, 255, 255);
  border: 0;
  border-radius: 0;
  padding: 10px;
  font-size: 1em;
  width: 150px;
  margin: 0 10px;
  display: block;
  cursor: pointer;
}

.form-button:hover {
  outline-color: rgb(85, 85, 85);
  outline-width: 0px;
}

#quote-search-container .form-button {
  margin-top: 20px;
}

/* .reset-button {
  display: inline-block;
  clear: both;
} */

