input[type="text"]{
  display: block;
  width: 100%;
  margin: 15px 0;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgb(221, 221, 221);
}

label {
  font-size: 1em;
  font-weight: 400;
  padding-left: 10px;
}

form#search {
  max-width: 600px;
  margin: auto auto;
  height: 0px;
  overflow: hidden;
  -webkit-transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  -ms-transition: height 0.5s linear;
  -o-transition: height 0.5s linear;
  transition: height 0.5s linear;
}

form#search.open {
  margin: auto auto;
  height: 150px;
    -webkit-transition: height 0.5s linear;
       -moz-transition: height 0.5s linear;
        -ms-transition: height 0.5s linear;
         -o-transition: height 0.5s linear;
            transition: height 0.5s linear;
}

h2 {
text-align: center;
cursor: pointer;
}

@media (max-width: 378px) {
  form#search.open {
    height: 170px;
  }
}