input[type="text"]{
  display: block;
  width: 100%;
  margin: 15px 0;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgb(221, 221, 221);
}

input.form-control {
  margin-top: 0px;
}

label {
  font-size: 1em;
  font-weight: 400;
  padding-left: 10px;
}

label.instruction {
  margin-bottom: 20px;
  padding-left: 25px;
}

form {
  max-width: 600px;
  margin: 0;
  height: 0px;
  overflow: hidden;
  -webkit-transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  -ms-transition: height 0.5s linear;
  -o-transition: height 0.5s linear;
  transition: height 0.5s linear;
}

form.open {
  margin: 30px auto;
  height: 330px;
    -webkit-transition: height 0.5s linear;
       -moz-transition: height 0.5s linear;
        -ms-transition: height 0.5s linear;
         -o-transition: height 0.5s linear;
            transition: height 0.5s linear;
}

h2 {
  text-align: center;
  cursor: pointer;
}

@media (max-width: 500px) {
  div.form-group.col-xs-6 {
    padding-right: 2px;
  }
  div.form-group.col-xs-3 {
    padding: 0px 2px;
  }
  div.form-group.col-md-12 {
    padding-right: 2px;
  }

}