#quote-display-container {
  box-sizing: border-box;
  max-width: 800px;
  margin: auto auto;
  opacity: 0;
  -webkit-transition: opacity 0.5s linear;
     -moz-transition: opacity 0.5s linear;
      -ms-transition: opacity 0.5s linear;
       -o-transition: opacity 0.5s linear;
          transition: opacity 0.5s linear;
}

#quote-display-container.open {
  opacity: 1;
    -webkit-transition: opacity 0.5s linear;
       -moz-transition: opacity 0.5s linear;
        -ms-transition: opacity 0.5s linear;
         -o-transition: opacity 0.5s linear;
            transition: opacity 0.5s linear;
}

.pagination-container {
  margin: auto;
  display: flex;
  justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 0.5s linear;
     -moz-transition: opacity 0.5s linear;
      -ms-transition: opacity 0.5s linear;
       -o-transition: opacity 0.5s linear;
          transition: opacity 0.5s linear;
}

.pagination-container.open {
  opacity: 1;
    -webkit-transition: opacity 0.5s linear;
       -moz-transition: opacity 0.5s linear;
        -ms-transition: opacity 0.5s linear;
         -o-transition: opacity 0.5s linear;
            transition: opacity 0.5s linear;
}



@media (max-width: 450px){
  .pagination > li >a,
  .pagination > li > span {
    padding: 4px 8px;
  }
}