input.form-control[type="text"]{
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid rgb(221, 221, 221);
  color: rgb(0, 0, 0);
}

input.form-control {
  margin-top: 0px;
  margin-bottom: 5px;
}

div.col-xs-6,
div.form-group.col-xs-3,
div.form-group.col-md-12 {
  margin-bottom: 10px;
}

.form-inner {
  padding: 20px;
}

.instruction {
  margin-bottom: 10px;
}

.help-block{
  display: inline-block;
  margin: 0px 10px;
  color: rgb(170, 43, 43);
}

.post-buttons {
  display: flex;
  justify-content: center;
}

input.form-control.field-blank {
  border: 1px solid rgb(170, 43, 43);
  box-shadow: 0px 0px 10px 0px rgb(170, 43, 43);
}

#quote-post-container {
  box-sizing: border-box;
  max-width: 800px;
  margin: auto auto;
  height: 0px;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
     -moz-transition: opacity 0.3s linear;
      -ms-transition: opacity 0.3s linear;
       -o-transition: opacity 0.3s linear;
          transition: opacity 0.3s linear;
          transition-delay: 300ms, 0s;
          transition-property: height, opacity;
        }


#quote-post-container.open {
  height: 350px;
  opacity: 1;
  -webkit-transition: height 0 linear, opacity 0.3s linear;
     -moz-transition: height 0 linear, opacity 0.3s linear;
      -ms-transition: height 0 linear, opacity 0.3s linear;
       -o-transition: height 0 linear, opacity 0.3s linear;
          transition: height 0 linear, opacity 0.3s linear;
          transition-delay: 0ms, 300ms;
          transition-property: height, opacity;
  }

@media (max-width: 500px) {
  div.form-group.col-xs-6 {
    padding-right: 2px;
  }
  div.form-group.col-xs-3 {
    padding: 0px 2px;
  }
  div.form-group.col-md-12 {
    padding-right: 2px;
  }
  #quote-post-container.open {
    height: 450px;
    margin: auto -15px;
  }

  .form-inner {
    padding: 10px;
  }

  .help-block {
    margin-right: 0px;
  }

  .form-group {
    padding-left: 10px;
  }

  .form-button {
    width: 100px;
  }
}

@media (max-width: 767px) {

  #quote-post-container.open {
    height: 450px;
  }

}