input.form-control[type="text"]{
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid rgb(221, 221, 221);
  color: rgb(0, 0, 0);
}

label {
  font-size: 1em;
  font-weight: 400;
  padding-left: 10px;
}

.form-inner {
  padding: 20px;
}

.search-button {
  margin: auto auto;
}

#quote-search-container {
  box-sizing: border-box;
  max-width: 800px;
  margin: auto auto;
  height: 0px;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  opacity: 0;
  -webkit-transition: height 0 linear, opacity 0.3s linear;
     -moz-transition: height 0 linear, opacity 0.3s linear;
      -ms-transition: height 0 linear, opacity 0.3s linear;
       -o-transition: height 0 linear, opacity 0.3s linear;
          transition: height 0 linear, opacity 0.3s linear;
          transition-delay: 300ms, 0s;
          transition-property: height, opacity;
}

#quote-search-container.open {
  height: 170px;
  opacity: 1;
  -webkit-transition: height 0 linear, opacity 0.3s linear;
     -moz-transition: height 0 linear, opacity 0.3s linear;
      -ms-transition: height 0 linear, opacity 0.3s linear;
       -o-transition: height 0 linear, opacity 0.3s linear;
          transition: height 0 linear, opacity 0.3s linear;
          transition-delay: 0ms, 300ms;
          transition-property: height, opacity;
}

#searchResultMessage {
  color: rgb(255, 255, 255);
  max-width: 800px;
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
  margin: 10px auto;

}

@media (max-width: 500px) {
  form#quote-search-container,
  form#quote-search-container.open {
    margin: 10px -15px;
  }
}

@media (max-width: 378px) {
  #quote-search-container.open  {
    height: 190px;
  }
}

